:root {
	--step-circle-color--light: var(--md-typeset-color);
	--step-circle-color--dark: #ffffff;
	--step-circle-bg--light: rgba(210, 220, 230, 0.4);
	--step-circle-bg--dark: rgba(255, 255, 255, .1);
	--step-circle-border-color--light: rgba(0, 0, 0, .15);
	--step-circle-border-color--dark: rgba(255, 255, 255, .2);
	--step-circle-margin: .365rem;
	--step-circle-size: calc(var(--line-height) * .8rem);
	--step-guide-color--light: var(--step-circle-border-color--light);
	--step-guide-color--dark: var(--step-circle-border-color--dark);
	--step-guide-width: 1px;
}

.md-typeset .steps > ol {
	margin-left: 0;
	list-style: none;
	counter-reset: steps-counter 0, 0;
}

.md-typeset .steps > ol > li {
	counter-increment: steps-counter;
	position: relative;
	padding-inline-start: calc(var(--step-circle-size) + .75rem);
	padding-bottom: 1px;
	margin: 0;
	min-height: calc(var(--step-circle-size) + var(--step-circle-margin));
}

.md-typeset .steps > ol > li * {
	margin-top: 0;
	line-height: var(--line-height);
}

/* Circle */
.md-typeset .steps > ol > li:before {
	content: counter(steps-counter);
	position: absolute;
	top: 0;
	inset-inline-start: 0;
	width: var(--step-circle-size);
	height: var(--step-circle-size);
	line-height: var(--step-circle-size);
	font-size: .6rem;
	font-weight: 600;
	text-align: center;
	border-radius: 99rem;
}
.md-typeset .steps > ol > li:before {
	box-shadow: inset 0 0 0 1px var(--step-circle-border-color--light);
	background-color: var(--step-circle-bg--light);
	color: var(--step-circle-color--light);
}
body[data-md-color-scheme='slate'] .md-typeset .steps > ol > li:before {
	box-shadow: inset 0 0 0 1px var(--step-circle-border-color--dark);
	background-color: var(--step-circle-bg--dark);
	color: var(--step-circle-color--dark);
}

/* Guide line */
.md-typeset .steps > ol > li:after {
	content: "";
	position: absolute;
	top: calc(var(--step-circle-size) + var(--step-circle-margin));
	bottom: var(--step-circle-margin);
	inset-inline-start: calc((var(--step-circle-size) - var(--step-guide-width)) / 2);
	width: var(--step-guide-width);
}
.md-typeset .steps > ol > li:after {
	background-color: var(--step-guide-color--light);
}
body[data-md-color-scheme='slate'] .md-typeset .steps > ol > li:after {
	background-color: var(--step-guide-color--dark);
}