:root {
	--border-color: rgba(0, 0, 0, .1);
	--border-color-dark: rgba(255, 255, 255, .2);
	--border-radius-sm: 6px;
	--border-radius: 10px;
	--border-radius-lg: 16px;
	--code-bg-color: rgba(210, 220, 230, 0.2);
	--code-bg-color-dark: rgb(0, 0, 0, .3);
	--inline-code-bg-color: rgba(175, 184, 193, 0.2);
	--inline-code-bg-color-dark: rgba(0, 0, 0, .4);
	--md-accent-fg-color: var(--md-primary-fg-color--light);
	--line-height: 1.6;
}

/* Change logo depending on theme scheme */
[data-md-color-scheme=default] .logo-dark {
	display: none !important;
}
[data-md-color-scheme=slate] .logo-light {
	display: none !important;
}

/* Nav link accent color */
.md-nav__item .md-nav__link--active,
.md-typeset a {
	color: var(--md-accent-fg-color);
}
.md-nav__item .md-nav__link--active:hover,
.md-typeset a:hover {
	filter: brightness(1.4);
}

/* Headers */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5 {
	color: #000000;
}
body[data-md-color-scheme='slate'] {
	.md-typeset h1,
	.md-typeset h2,
	.md-typeset h3,
	.md-typeset h4,
	.md-typeset h5 {
		color: #ffffff;
	}
}

/* Code blocks */
body .highlight code {
	font-size: 15px !important;
}
.highlight span.filename,
.highlight code {
	background-color: var(--code-bg-color) !important;
}
body[data-md-color-scheme='slate'] {
	.highlight code {
		background-color: var(--code-bg-color-dark) !important;
	}
	.highlight .filename {
		background-color: #000000 !important;
	}
}

/* Inline code block */
.md-typeset code {
	font-size: 85%;
	padding: .2em .4em;
	background-color: var(--inline-code-bg-color);
	border-radius: var(--border-radius-sm);
}
body[data-md-color-scheme='slate'] {
	.md-typeset code {
		background-color: var(--inline-code-bg-color-dark) !important;
	}
}

/* Left and right sidebar labels */
.md-nav__list label,
.md-sidebar label {
	color: #000000 !important;
}
.md-sidebar .md-nav__title {
	color: #ffffff !important;
}
body[data-md-color-scheme='slate'] {
	.md-nav__list label,
	.md-sidebar label {
		color: #ffffff !important;
	}
}

/*
*
* Misc
*
*/

.file-tree {
	font-family: var(--md-code-font-family);
	font-size: 14px !important;
	padding: 8px 12px;
	margin: 1em 0;
	background-color: var(--code-bg-color) !important;
	border-radius: var(--border-radius) !important;
}
.file-tree pre {
	margin: 0;
}
body[data-md-color-scheme='slate'] {
	.file-tree {
		background-color: var(--code-bg-color-dark) !important;
	}
}

